@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: './fonts/Arial_Regular.woff';
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: './fonts/Georgia_regular.woff';
}
