@import '../../styles/globalVariables.scss';

.card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
  background-color: #fafafa;
  cursor: pointer;
  transition: 0.5s ease box-shadow;
  border-radius: 9px;
}
.imgContainer {
  width: 100%;
}

.title {
  margin: 0;
  font-family: 'Arial';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: $primary-dark;
}
.btnDefault{
	@include button(weak)
}
.btnFriend{
	@include button(strong)
}

.img{
	width: 270px;
	height: 270px;
}
