$primary-dark: #545454;
$primary-extra: #4c4c4c;
$dark-extra: #5b483a;
$accent: #e8b118;
$grey: #b2b2b2;
$background-outside: #e5e5e5;
$max-width: 1200px;
$white: #fff;
$black: #000;
$background-header: radial-gradient(
  100% 215.42% at 0% 0%,
  #5b483a 0%,
  #262425 100%
);
$background-light-grey: #f6f6f6;
$font-content: 'Arial', serif;
$active-link-color: #fafafa;
$font-accent: 'Georgia', serif;
$font-extra-color: #cdcdcd;
$font-button-color: #292929;
$gold: #f1cdb3;
$gold-hover: #fddcc4;
$side-padding: 40px;
$background-footer: radial-gradient(
  110.67% 538.64% at 5.73% 50%,
  #513d2f 0%,
  #1a1a1c 100%
);

$breakpoint-extra-big: 1100px;
$breakpoint-extra-m: 767px;
$breakpoint-tablet: 900px;
$breakpoint-mobile-big: 600px;
$breakpoint-mobile: 480px;
@media (max-width: $breakpoint-tablet) {
  $side-padding: 30px;
}


$transition-duration: 0.5s;

$font-family: 'Arial';

$decorBig: 75px;
$decorBigTab: 50px;
$decorBigMob: 25px;
$decorSmall: 24px;
$decorSmallTab: 16px;
$decorSmallMob: 8px;

$breakpointDesktop: 1300px;
$breakpointTablet: 800px;
$breakpointMobile: 675px;

@mixin decorSizeL {
  width: $decorBig;
  height: $decorBig;
  position: relative;
  @media screen and (max-width: $breakpointDesktop) {
    width: $decorBigTab;
    height: $decorBigTab;
  }

  @media screen and (max-width: $breakpointTablet) {
    width: $decorBigMob;
    height: $decorBigMob;
  }
}
@mixin decorSizeS {
  width: 24px;
  height: 24px;
  position: relative;
  @media screen and (max-width: $breakpointDesktop) {
    width: $decorSmallTab;
    height: $decorSmallTab;
  }

  @media screen and (max-width: $breakpointTablet) {
    width: $decorSmallMob;
    height: $decorSmallMob;
  }
}

@mixin section {
  width: 100%;
  max-width: $max-width;
  background-color: transparent;
  margin: 0;
  padding: 0 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  @media (max-width: $breakpointTablet) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@mixin clickable {
  cursor: pointer;
  transition: opacity $transition-duration ease;
  &:hover {
    opacity: 50%;
    @media screen and (hover: none) {
      opacity: 100%;
    }
  }
}

@mixin input($color) {
  @include clickable;
  font-family: 'Arial';
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  padding: 5px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid $color;
  color: $color;
  background-color: transparent;
  &::placeholder {
    color: $font-extra-color;
    transition: opacity $transition-duration ease;
  }
  &:focus {
    border-bottom-width: 4px;
    @media (max-width: $breakpointTablet) {
      border-bottom-width: 3px;
    }
    &::placeholder {
      opacity: 0;
    }
  }
  @media (max-width: $breakpointMobile) {
    font-size: 15px;
    line-height: 18px;
  }
  @media (max-width: 500px) {
    padding: 0;
  }
}

@mixin text($color) {
  margin: 0;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: $color;
  word-wrap: break-word;
  @media screen and (max-width: $breakpointDesktop) {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.035em;
  }
  @media screen and (max-width: 1060px) {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
  }
}

@mixin button($type) {
  border: none;
  padding: 15px 45px;
  background-color: $gold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: left;
  border-radius: 26px;
  color: $font-button-color;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  transition: background-color 0.5s ease;
  cursor: pointer;
  font-family: 'Georgia', serif;
  @if $type == weak {
    border: 2px solid $gold;
    background-color: transparent;
    @media (hover: none) {
    background-color: transparent;
  }
  }
  @if $type == strong {
    background-color: $gold;
    border: none
  }
  @media (hover: none) {
    background-color: $gold;
  }
	&:hover {
  background-color: $gold-hover;
}
}

@mixin inactiveBtn {
  border-color: $font-extra-color;
  color:$font-extra-color;
  pointer-events: none;
}