@import '../../styles/globalVariables.scss';


.widthLimiter {
  width: 100%;
  max-width: $max-width;
}

.header {
  background: $background-header;
  color: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 $side-padding;
  box-sizing: border-box;
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 0 30px;
  }
  @media screen and (max-width: $breakpoint-mobile-big) {
    padding: 0 20px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0 10px;
  }
}


.container {
  display: grid;
  grid-template-columns: 23fr 35fr;
  gap: 42px;
  text-transform: none;
  padding-top: 60px;
  align-items: end;
  @media screen and (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr;
    gap: 100px;
    justify-items: center;
    padding-top: 30px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    gap: 105px;
  }
}
.title {
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  max-width: 310px;
  text-transform: none;
  @media screen and (max-width: $breakpoint-mobile-big) {
    font-size: 32px;
    line-height: 40px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    max-width: 200px;
    letter-spacing: 0.06em;
  }
}
.subtitle {
  margin: 0;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 460px;
  color: #cdcdcd;
  @media screen and (max-width: $breakpoint-mobile) {
    text-align: center;
  }
}
.content {
  padding: 0 0 80px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-self: center;
  @media screen and (max-width: $breakpoint-tablet) {
    max-width: 460px;
    padding-bottom: 0;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    align-items: center;
  }
}
.imgContainer {
  box-sizing: border-box;
  width: 100%;
  @media screen and (max-width: $breakpoint-tablet) {
    text-align: right;
  }
}
.img {
  max-width: 100%;
  @media screen and (max-width: $breakpoint-tablet) {
    width: 80.2%;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    width: 86.7%;
  }
}
.btnWrapper {
  @media screen and (max-width: $breakpoint-tablet) {
    display: flex;
    justify-content: center;
  }
}
.navbar {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width: $breakpoint-mobile) {
    padding: 30px 10px;
  }
}
.nav {
  @media screen and (max-width: $breakpoint-extra-m) {
    // transform: translateX(100%);
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    cursor: pointer;
    background-color: rgba(41, 41, 41, 0.6);
    justify-content: flex-end;
    z-index: 3;
    display: none;
    transition: transform 0.5s ease;
  }
  &_open {
    display: flex;
    // transform: none;
  }
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  text-decoration: none;
}
.title {
  margin: 0;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
  color: $gold;
}

.subtitle {
  margin: 0;
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
  color: $white;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 35px;
  align-items: center;
  cursor: auto;
  transition: transform 0.5s ease;
  @media screen and (max-width: $breakpoint-extra-m) {
    flex-direction: column;
    gap: 40px;
    background-color: $font-button-color;
    justify-content: center;
    align-items: center;
    width: 320px;
    z-index: 4;
  }
  &_moved {
    transform: translateX(100%);
  }
}
.menuItem {
  margin: 0;
  list-style: none;
}
.menuLink {
  margin: 0;
  font-family: 'Arial';
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  color: $font-extra-color;
  
  @media screen and (max-width: $breakpoint-extra-m) {
    font-size: 32px;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.burgerBtn {
  width: 35px;
  height: 35px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: visible;
  gap: 10px;
  border: none;
  padding: 0;
  display: none;
  box-sizing: border-box;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 5;
  cursor: pointer;

  @media screen and (max-width: $breakpoint-extra-m) {
    display: flex;
  }
  &_open {
    transform: rotate(90deg);
    .burger-btn-strip {
      background-color: $gold;
    }
  }
  &:hover {
    opacity: 0.5;
    @media (hover: none) {
      opacity: 1;
    }
  }
}

.active{
  border-bottom: 3px solid $gold;
  pointer-events: none;
    color: $active-link-color;
}

.clickable{
  @include clickable
}