@import '../../styles/globalVariables.scss';

.post {
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr 40px;
  gap: 20px;
  padding: 10px;
  max-width: 600px;
  position: relative;
  border: $primary-dark 2px solid;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: $white;
  @media screen and (max-width: $breakpoint-tablet) {
    gap: 10px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    gap: 20px;
    grid-template-columns: 1fr;
  }
}
.withoutImg {
  grid-template-columns: 1fr 40px;
}

.text {
  @include text($primary-dark);
}

.img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 5%;
  align-self: center;
}

.likesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  align-self: end;
  justify-self: end;
}

.likeBtn {
  @include clickable;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.likeIcon {
  width: 20px;
  height: 20px;
}
