@import '../../styles/globalVariables.scss';

.post {
  display: grid;
  grid-template-columns: 100px 1fr 40px;
  gap: 20px;
  padding: 10px;
  min-width: 400px;
  max-width: 600px;
  position: relative;
  border: $primary-dark 2px solid;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: $white;
}

.text {
  @include text($primary-dark);
}

.img {
  height: 100px;
  width: 100px;
  border-radius: 5%;
  align-self: center;
}

.likesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  align-self: end;
}

.likeBtn {
  @include clickable;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.likeIcon {
  width: 20px;
  height: 20px;
}
