@import '../../styles/globalVariables.scss';

.container {
  @include section($background-grey);
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 20px;
}
