@import '../../styles/globalVariables.scss';

.container {
  @include section($background-grey);
  padding-right: 0;
  padding-left: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: start;
  gap: 20px;
  gap: auto;
  @media screen and (max-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: $breakpoint-mobile-big) {
    grid-template-columns: 1fr;
  }
}
.btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section {
  @include section($background-grey);
}
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  @media screen and (max-width: $breakpoint-mobile-big) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.btn {
  @include clickable;
  border: none;
  background: $background-light-grey;
  padding: 5px;
}
.active {
  background: $gold;
}
.input {
  @include text($dark-extra);
}
