@import '../../../styles/globalVariables.scss';
.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: $white;
  z-index: 4;
}
.ldsRing {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #513d2f;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $gold transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
  border-color: #513d2f transparent transparent transparent;
}
.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
  border-color: #513d2f transparent transparent transparent;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text {
  margin: 0 0 0 30px;
  color: #513d2f;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}
