@import '../../styles/globalVariables.scss';

.page {
  @include section($background-header);
  background: $background-header;
  align-items: center;
}
.container {
  height: 100vh;
  display: flex;
  max-width: 700px;
  width: 70%;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $breakpoint-mobile) {
    width: 90%;
  }
}
.text {
  color: $gold;
  font-size: 60px;
  text-align: center;
  margin: 0;
}
.link {
  @include clickable;
  font-family: 'Arial';
  color: $white;
  font-size: 32px;
  text-decoration: none;
  padding: 0;
  font-weight: 700;
  border-bottom: 2px solid $dark-extra;
  @media screen and (max-width: $breakpoint-tablet) {
    font-size: 24px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 18px;
  }
}
